

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
  padding: 24px 156px; /* Відступи по боках */
  width: calc(100% - 312px); /* Фіксована ширина */
  height: calc(100% - 48px); /* Фіксована висота */
  margin: 0;
      }

   
/* Центрування контенту на головній сторінці */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  text-align: center;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Відстань між зображеннями */
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Розподіляє елементи рівномірно */

}

.gallery-item {
  flex: 0 0 calc(33.333% - 24px); /* Відстань між зображеннями */
  box-sizing: border-box;
  border-radius: 10px; /* Скруглення куточків */
  overflow: hidden; /* Приховує виходження зображення за межі рамки */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь */
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

/* .gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
} */


.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Забезпечує покриття контейнера без спотворень */
}


/* Стилі для форми */
.feedback-form {
  width: 360px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
}

/* Стилі для міток над полями вводу */
.feedback-form label {
  display: block; /* Розміщує кожну мітку на окремому рядку */
  margin-bottom: 5px; /* Відступ між мітками */
  font-size: 16px;
  color: #2E2F42;
}

/* Стилі для полів вводу */
.feedback-form input[type="email"],
.feedback-form textarea {
  width: 360px;
  max-width: 100%;
  min-width: 100%;
  min-height: 40px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Забезпечує включення padding та border у загальну ширину елемента */
}

.feedback-form input[type="email"],
.feedback-form textarea {
    font-size: 16px;
    padding: 8px;
}

/* Висота для поля вводу тексту Email */
.feedback-form input[type="email"] {
    height: 40px;
}

/* Висота для поля вводу Message */
.feedback-form textarea {
    min-height: 80px;
}

/* Стилі для кнопки */
.feedback-form button[type="submit"] {
  width: 95px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4E75FF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button[type="submit"]:hover {
  background-color: #6C8CFF;
}

/* Стилі для кнопок */
.form-gallery {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4E75FF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  width: 80px;
  text-align: center;
}

.form-gallery:hover {
  background-color: #6C8CFF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.go-back-button {
  display: inline-block;
  padding: 5px 8px;
  background-color: #4E75FF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  width: 80px;
  text-align: center;
  font-size: 14px;

}

.go-back-button:hover {
  background-color: #6C8CFF;
}


/* Оверлей для темносірого фону */
.sl-overlay {
  background: rgba(0, 0, 0, 2) !important; /* Темносірий фон */
}

class=""

/* Зміна кольору стрілок вліво і вправо */
.sl-wrapper .sl-counter {
  color: white !important; /* Білий колір */
}

.sl-wrapper .sl-counter {
  z-index: 10070;
  color: rgb(255, 255, 255) !important;
}

/* Зміна кольору хрестика, який закриває модальне вікно */
.sl-close {
  color: white !important; /* Білий колір */
}

/* Зміна кольору цифр, які показують рахунок картинок */
.sl-next, .sl-prev {
  color: white !important; /* Білий колір */
}